<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
                {{ errorMessage }}
            </div>
            <form [formGroup]="jobForm">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" formControlName="title">
                <div class="text-danger" *ngIf="title!.invalid && (title!.dirty || title!.touched)">
                    <small>Title is required.</small>
                </div>
                 <label for="task">Task</label>
                <select class="form-control" name="task" id="task" multiple formControlName="task"
                    [compareWith]="compareTask">
                    <option [ngValue]="task" *ngFor="let task of tasks">{{ task.title }}</option>
                </select>
                <button class="btn btn-primary mt-2" type="button" (click)="addJob()" [disabled]="jobForm.invalid">Save job</button>
            </form>
        </div>
    </div>
    
</div>